table, th, td {
    border: 1px solid var(--ast-border-color);
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%;
}
th {
	font-weight: 600;
}
th, td {
	padding: 0.7em 1em;
    border-width: 0 1px 1px 0;
}
